.background{
    background-color: lightskyblue;
}

.header{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
